
html, body {
  background-color: #121212;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "algerian";
}
*{
  box-sizing: border-box;
}

/* Navigationsleiste */
  .header-nav{
    height: 100px;
    width: 100%;
    padding: 0px;
    background-color: #333;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 1px solid #111;
    position: relative;
    }
  .header-nav > a > img {
      height: 100px;
      width: auto;
      position: absolute;
    }
  .header-nav > ul > li {
      display: inline-block;
      margin-left: 50px;
    }
  .header-nav > ul > li > a:link {
    color: white;
    text-decoration:none;

    }
  .header-nav > ul > li > a:visited  {
    color: white;
    text-decoration:none;
    }
  .header-nav > ul > li > a:hover {
  color: Black;
  text-decoration:none;
    }
  .header-nav > ul > li > a:active {
  color: white;
  text-decoration: none;
    }
  .header-nav > ul {
  margin:0;
  padding:0;
  position: absolute;
  right: 20rem;
  top:2.2rem;
    }
  .active {
    background-color: Red;
  }

/* Header Banner*/
.header-banner-index {
  background: no-repeat  url("../img/YellowStarBanner.png");
  width: 100%;
  height: 0;
  padding-top: 10.41%;
  background-size:contain;
}
.header-banner-player {
  background: no-repeat  url("../img/BlueStarBanner.png");
  width: 100%;
  height: 0;
  padding-top: 10.41%;
  background-size:contain;
}
.header-banner-news {
  background: no-repeat  url("../img/YellowStarBanner.png");
  width: 100%;
  height: 0;
  padding-top: 10.41%;
  background-size:contain;
}
.header-banner-superBaron {
  background: no-repeat  url("../img/YellowStarBanner.png");
  width: 100%;
  height: 0;
  padding-top: 10.41%;
  background-size:contain;
}
.header-banner-trading {
  background: no-repeat  url("../img/YellowStarBanner.png");
  width: 100%;
  height: 0;
  padding-top: 10.41%;
  background-size:contain;
}
.header-banner-whiteStar {
  background: no-repeat  url("../img/WhiteStarBanner.png");
  width: 100%;
  height: 0;
  padding-top: 10.41%;
  background-size:contain;
}

.header-banner-tutorial {
  background: no-repeat  url("../img/YellowStarBanner.png");
  width: 100%;
  height: 0;
  padding-top: 10.41%;
  background-size:contain;
}





/*
.inline {
  display: inline-block;
  height: 100px;
  width: 100px;
  padding: 0px;
  margin-left: 40px;
  background-color: #333;
  color: white;
  font-weight: bold;
  text-align: center;
}
 */
